.registerForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh; 
}

label#photo {
    display: block;
    width: 200px;
    height: 200px;
    background: #81B750;
    background-size: cover;
    cursor: pointer;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    border: 2px solid black;
}

label#photo input#imagePicker {
    display: none;
}

label#photo img.has-image {
    display: none;
}

@media (max-width: 1000px) {
    label#photo{ 
        width: 150px;
        height: 170px;
    }
}